<!doctype html>
<html lang="tr" xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:include="fragments/header :: header"></th:block>
</head>
<body>
	<th:block th:include="fragments/navbar :: navbar"></th:block>
	<div class="container">
		<div class="row">
			<div class="col-6"></div>
			<div class="col-6" sec:authorize="!isAuthenticated()">
				<th:block th:include="fragments/signup :: signup"></th:block>
			</div>
		</div>
	</div>

	<th:block th:include="fragments/scripts :: scripts"></th:block>
</body>
</html>