<!doctype html>
<html lang="tr" xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:include="fragments/header :: header"></th:block>
<link th:href="@{/css/signin.css}" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row align-items-center justify-content-sm-center">
			<div class="col-sm-4">
				<th:block th:include="fragments/signin :: signin"></th:block>
			</div>
		</div>
	</div>

	<th:block th:include="fragments/scripts :: scripts"></th:block>
</body>
</html>